

:root {
  --bg: #0a0a0a;
   --bg-gradient: 
      radial-gradient(at 20% 15%, rgba(27, 104, 179, 0.35) 0px, transparent 50%),
      radial-gradient(at 80% 35%, rgba(14, 73, 133, 0.25) 0px, transparent 40%),
      radial-gradient(at 50% 80%, rgba(3, 27, 78, 0.4) 0px, transparent 60%);
   
        //linear-gradient(90deg
        //,rgba(2, 0, 36, 1) 0%,
        // rgba(1, 26, 54, 1) 100%);
/* Opción 1: Degradado ambiental estilo "Aurora" / "Mesh" (Recomendado) */
/*body {
  min-height: 100vh;
  margin: 0;
  background-color: #030a16; /* Color base azul muy oscuro */
  
//}

  --surface: #111111;
  --text: #a3a3a3;
  --text-h: #ffffff;
  --border: #262626;
  --accent: #072e83;
  --sans: "Inter", sans-serif;
  --heading: "Poppins", sans-serif;

  font: 16px/1.5 var(--sans);
  color: var(--text);
  background: var(--bg);

  color-scheme: dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background: var(--bg-gradient);
  color: var(--text);
  background-attachment: fixed; /* Mantiene el fondo fijo al hacer scroll */
  display: flex;
  flex-direction: column;
  justify-content: center;


}

h1,
h2,
h3 {
  margin: 0;
  font-family: var(--heading);
  color: var(--text-h);
  font-weight: 100;}

h1 {
    font-size: 56px;
    line-height: 1.0;
    letter-spacing: 2.5px;
}

h2 {
  font-size: 32px;//TAMÑO DE FUENTE
  font-weight: 200;// GROSOR DE FUENTE
  line-height: 1.5;// INTERLINEADO

}

p {
  margin: 0;
  font-weight: 200;
}

a {
  color: var(--accent);
  text-decoration: none;
}

button {
    margin: 50px 0px;
    width: 200px;
    height: 40px;
    color: #ffffff;
    background-color: #072e83;
    border: none;
    font-size: 1.2rem;
    border-radius: 24px;
    cursor: pointer;

 
    
  }

 

img {
  display: block;
  max-width: 100%;
}


.textDegrades{
  color: transparent;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(90deg, #1b68b3 0%, #031b4e 100%);
  -webkit-background-clip: text;
  background-clip: text;
}

@media (max-width: 1024px) {
  h1 {
    font-size: 42px;
  }

  h2 {
    font-size: 28px;
  }
}

@media (max-width: 640px) {
  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 24px;
  }
}