@use "../../styles/_globales.scss" as *;

.project-container{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  

    
     
}
.project_slider{
  width: 100%;
}

.intro_project{
  p{
      margin: 0px auto;
      padding: 12px 24px;
    }
}