.project-container {
  width: 100%;
  height: 100vh;
  
}
.project-container h1 {
  font-size: 2.5rem;
  color: #0a0a0a;
  line-height: 0.9;
}

.design {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  
 
  gap: 8px;
  margin-top: 20px;
}